extends layouts/main-layout.pug
block content
    form(method="POST", action="/users")
        input(name="name", id="name", type="text", placeholder="Enter name..")
        button(type="submit") Save
